/*webuploader上传样式*/
.webuploader-container {
   position: relative;
   float: left;
   margin-right: 10px;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    cursor: pointer;
    padding: 0;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    line-height:30px;
}

.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}