<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/common/baseFile :: commonHeader('')"></head>
<link th:href="@{/css/uploadImg.css}" rel="stylesheet">
<body class="bg-gray" style="height:296px;overflow:hidden;">
<input type="hidden" id="postMessageId" th:value="${messagePost.postMessageId }">
<div class="bg-white main-div" valign="top">
    <div>
        <label>消息标题：</label>
        <input type="text" th:id="messageTitle" th:name="messageTitle" th:class="normal-input" th:value="${messagePost.messageTitle }"/>
        <label>消息简介：</label>
        <input type="text" th:id="messageAbout" th:name="messageAbout" th:class="normal-input" th:value="${messagePost.messageAbout }"/>
    </div>
    <div>
        <label>发布对象：</label>
        <select th:id="messageObject" th:class="normal-input" th:name="messageObject" th:onchange="messageObject()">
            <option th:value="1">全平台</option>
            <option th:value="2">全用户</option>
            <option th:value="3">全商家</option>
            <option th:value="4">部分用户</option>
            <option th:value="5">部分商家</option>
            <option th:value="6">新用户</option>
            <option th:value="7">新商家</option>
            <option th:value="8">全代理</option>
            <option th:value="9">部分代理</option>
            <option th:value="10">新代理</option>
        </select>
        <span th:id="arr">
            <!--<label th:if="${messagePost.messageObject==4}">用户数组对象：</label>
            <label th:if="${messagePost.messageObject==5}">商家数组对象：</label>
            <label th:if="${messagePost.messageObject==9}">代理数组对象：</label>
            <input type="text" id="messageObject" name="messageObject" class="normal-input"
                   th:value="${messagePost.messageObject }"/>
            <span th:onclick="addArr()">+</span>-->
        </span>
    </div>

    <div>
        <label>消息封面图：</label>

        <div class="picDiv">
            <div class='imageDiv' th:attr="nm=${picName}" th:if="${picName!=''&&picName!=null }" >
                <img th:id="${picName }" th:src="${messagePost.messageCoverImage }"
                     style="display: block;width: 160px;height: 130px;"/>
                <div class='cover'><i class='delbtn'>删除</i></div>
                <input type="hidden" class="picName" th:value="${messagePost.messageCoverImage }"/>
            </div>
            <div class="addImages">
                <input type="file" class="file" id="uploadFilexxx" multiple="multiple"
                       accept="image/png, image/jpeg, image/gif, image/jpg">
                <div class="text-detail">
                    <span>+</span>
                    <p>点击上传</p>
                </div>
            </div>
        </div>
        <input type="hidden" id="pictures" name="pictures" th:value="${picName }"/>
    </div>
    <div style="height:250px;">
        <label>消息数据：</label>
        <textarea th:name="editor" th:id="editor" th:value="${messagePost.messageData}"></textarea>
    </div>
</div>
<div class="button-div">
    <button th:onclick="saveData()" class="btn btn-info">保存</button>
    <button th:onclick="cancelSave()" style="margin-left:10px;" class="btn btn-default">取消</button>
</div>
<script type="application/javascript">
    window.CKEDITOR_BASEPATH = '../../js/ckeditor/'
</script>
<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
<script th:src="@{/js/uploadImg.js}"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor');
    function cancelSave() {
        parent.cancelSave();
    }

    //显示相应的内容
    function messageObject(){
        var messagePostValue = $("select[name='messageObject']").find('option:selected').val();
        $("#arr").empty();
        //部分用户
        var html="";
        if (messagePostValue==4){
            html = "<label>用户数组对象</label>";
        }else if (messagePostValue==5){
            html = "<label>商家数组对象</label>";
        }else if (messagePostValue==9){
            html = "<label>代理数组对象</label>";
        }
        var app ="<input type='text' id='arrObject' placeholder='请输入id,以逗号分隔' name='arrObject' class='normal-input'/>";
        $("#arr").html(html).append(app);
    }
    function saveData() {
        var param = {
            postMessageId: $("#postMessageId").val(),
            messageTitle: $("#messageTitle").val(),
            messageCoverImage: $("#pictures").val(),
            messageAbout: $("#messageAbout").val(),
            messageObject: $("select[name='messageObject']").find('option:selected').val(),
            arrObject: $("#arrObject").val(),
            messageData: CKEDITOR.instances.editor.getData()
        };
        if (param["messageTitle"] == "") {
            layer.tips('请输入消息标题', '#messageTitle');
            return false;
        }
        if (param["messageCoverImage"] == "") {
            layer.tips('请选择封面图', '#messageCoverImage');
            return false;
        }
        if (param["messageObject"] == "") {
            layer.tips('请选择发布对象', '#messageObject');
            return false;
        }
        if (param["arrObject"] == "") {
            layer.tips('请输入发布对象', '#arrObject');
            return false;
        }
        if (param["messageData"] == "") {
            layer.tips('请输入消息数据', '#messageData');
            return false;
        }
        $.post(baseurl + "platform/saveMessagePost.htm", param, function (data) {
            parent.saveCallBack(data);
        });
    }
</script>
</body>
</html>