<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/common/baseFile :: commonHeader('')"></head>
<link th:href="@{/css/uploadImg.css}" rel="stylesheet">
<body class="bg-gray" style="height:296px;overflow:hidden;">
<input type="hidden" id="postMessageId" th:value="${messagePost.postMessageId }">
<div class="bg-white main-div" valign="top">
    <div>
        <label>消息标题：</label>
        <!--<input type="text" th:id="messageTitle" th:name="messageTitle" th:class="normal-input" th:value="${messagePost.messageTitle }"/>-->
        <span th:text="${messagePost.messageTitle }"></span>
        <label>消息简介：</label>
        <span th:text="${messagePost.messageAbout }"></span>
        <label>发布对象：</label>
        <span th:if="${messagePost.messageObject==1 }">全平台</span>
        <span th:if="${messagePost.messageObject==2 }">全用户</span>
        <span th:if="${messagePost.messageObject==3 }">全商家</span>
        <span th:if="${messagePost.messageObject==4 }">部分用户</span>
        <span th:if="${messagePost.messageObject==5 }">部分商家</span>
        <span th:if="${messagePost.messageObject==6 }">新用户</span>
        <span th:if="${messagePost.messageObject==7 }">新商家</span>
        <span th:if="${messagePost.messageObject==8 }">全代理</span>
        <span th:if="${messagePost.messageObject==9 }">部分代理</span>
        <span th:if="${messagePost.messageObject==10 }">新代理</span>
    </div>
    <div th:each="arr : ${arrList}">
        <label>用户id</label>
        <span th:text="${arr.userId }"></span>
        <label>是否已读</label>
        <span th:text="未读" th:if="${arr.isRead==0 }"></span>
        <span th:text="已读" th:if="${arr.isRead==1 }"></span>
        <label>是否删除</label>
        <span th:text="已删除" th:if="${arr.isDel==0 }"></span>
        <span th:text="未删除" th:if="${arr.isDel==1 }"></span>
    </div>

    <div>
        <label>消息封面图：</label>
        <div class="picDiv">
            <div class='imageDiv' th:attr="nm=${picName}" th:if="${picName!=''&&picName!=null }" >
                <img th:id="${picName }" th:src="${messagePost.messageCoverImage }"
                     style="display: block;width: 160px;height: 130px;"/>
                <div class='cover'><i class='delbtn'>删除</i></div>
                <input type="hidden" class="picName" th:value="${messagePost.messageCoverImage }"/>
            </div>
            <div class="addImages">
                <input type="file" class="file" id="uploadFilexxx" multiple="multiple"
                       accept="image/png, image/jpeg, image/gif, image/jpg">
                <div class="text-detail">
                    <span>+</span>
                    <p>点击上传</p>
                </div>
            </div>
        </div>
        <input type="hidden" id="pictures" name="pictures" th:value="${picName }"/>
    </div>
    <div style="height:250px;">
        <label>消息数据：</label>
        <textarea th:name="editor" th:id="editor" th:text="${messagePost.messageData}"></textarea>
    </div>
</div>
<div class="button-div">
    <button th:onclick="cancelSave()" style="margin-left:10px;" class="btn btn-default">取消</button>
</div>
<script type="application/javascript">
    window.CKEDITOR_BASEPATH = '../../js/ckeditor/'
</script>
<script th:src="@{/js/ckeditor/ckeditor.js}"></script>
<script th:src="@{/js/uploadImg.js}"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor');
    function cancelSave() {
        parent.cancelSave();
    }
</script>
</body>
</html>