
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >

<head th:include="/common/baseFile :: commonHeader('')">
</head>
<link th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
<style>
    th,td{
        text-align:center;
    }
</style>
<body >
<div class="ibox-content" style="padding:10px">
    <div style="padding:10px;">
        <span>角色名称：<input id="roleName" class="normal-input"></span>
        <button onclick="searchRole();" style="margin-left:30px" type="button" class="btn btn-primary">搜索</button>

        <shiro:hasPermission name="user:role_add">
            <button onclick="doUpdate(0,'','');" style="margin-left:30px" type="button"  class="btn btn-primary" th:text="${permissionMap.role_add_name}"></button>
        </shiro:hasPermission>
    </div>
    <table id="data-table"></table>
</div>
<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script>
    $(document).ready(function () {
        initTable();
    });

    function initTable(){
        var url = baseurl+"rule/getRoleList.htm";
        $('#data-table').bootstrapTable({
            method:'GET',
            dataType:'json',
            contentType: "application/x-www-form-urlencoded",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url:url,
            height: $(window).height() - 76,
            width:$(window).width(),
            showColumns:false,
            pagination:true,
            queryParams : queryParams,
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            responseHandler: responseHandler,
            columns: [
                {
                    field: 'index',
                    title: '序号',
                },
                {
                    field : 'roleName',
                    title : '角色名称',
                    align : 'center',
                    valign : 'middle'
                }, {
                    field : 'note',
                    title : '备注',
                    align : 'center',
                    valign : 'middle'
                }, {
                    field : '',
                    title : '操作',
                    align : 'center',
                    valign : 'middle',
                    formatter : function (value, row, index){
                        return "<shrio:hasPermission name='user:role_update'><a href='javascript:;' onclick='doUpdate(\"" + row.roleId + "\",\"" + row.roleName + "\",\"" + row.note + "\")' >[[${permissionMap.role_update_name}]]</a>&nbsp;</shrio:hasPermission>"+
                        "<shrio:hasPermission name='user:other'><a href='javascript:;' onclick='distributeRule("+row.roleId+")'>[[${permissionMap.other_name}]]</a>&nbsp;</shrio:hasPermission>"+
                        "<shrio:hasPermission name='user:role_del'><a href='javascript:;' onclick='delRole("+row.roleId+")'>[[${permissionMap.role_del_name}]]</a></shrio:hasPermission>";

                    }
                }]
        });
    }

    function queryParams(params) {
        var param = {
            limit : this.limit, // 页面大小
            offset : this.offset, // 页码
            page : this.pageNumber,
            rows : this.pageSize,
            roleName:$("#roleName").val()
        }
        return param;
    }

    // 用于server 分页，表格数据量太大的话 不想一次查询所有数据，可以使用server分页查询，数据量小的话可以直接把sidePagination: "server"  改为 sidePagination: "client" ，同时去掉responseHandler: responseHandler就可以了，
    function responseHandler(res) {
        if (res) {
            return {
                "rows" : res.result,
                "total" : res.totalCount
            };
        } else {
            return {
                "rows" : [],
                "total" : 0
            };
        }
    }

    function searchRole(){
        $('#data-table').bootstrapTable('refresh');    //刷新表格
    }

    var openIndex;

    function doUpdate(id,role_name,note){
        var title =id?"修改角色":"添加角色";
        var html='<div class="ibox-content" style="padding:10px">'+
            '<div style="padding:10px;">'+
            '<span>角色名称：<input id="roleNameVale" class="normal-input" value="'+role_name+'"></span>'+
            '</div>'+
            '<div style="padding:10px;">'+
                '<span>备注：'+
                '<textarea id="note" class="normal-input" style="width:300px;height: 100px;">'+note+'</textarea></span>'+
            '</div>'+
            '<div style="padding:10px;color:red" id="error_msg"></div>'+
            '<div style="padding:10px;">'+
            '<button onclick="saveUpdate(\''+id+'\');" style="margin-left:90px" type="button" class="btn btn-primary">保存</button>'+
            '<button onclick="cancelUpdate();" style="margin-left:30px" type="button" class="btn btn-info">取消</button>'+
            '</div>'
        '</div>';
        openIndex=layer.open({
            title:title,
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: false, //不显示关闭按钮
            shift: 2,
            shadeClose: true, //开启遮罩关闭
            area: ['380px', '350px'],
            content: html
        });
    }

    function saveUpdate(id){
        var roleName=$("#roleNameVale").val();
        var note = $("#note").val();
        if(!roleName){
            $("#error_msg").text("请填写角色名称");
        }
        var param={
            id:id,
            roleName:roleName,
            note:note
        };
        $.post(baseurl+"[[${permissionMap.role_update_url}]]",param,function(data){
            layer.close(openIndex)
            var icon;
            if (data.status==1){
                icon=6;
            }else{
                icon=5;
            }
            layer.alert(data.info,{icon: icon},function(){
                location.href=location.href;
            });
        });
    }
    function delRole(id){
        var param={
            roleId:id
        };
        $.post(baseurl+"[[${permissionMap.role_del_url}]]",param,function(data){
            layer.close(openIndex)
            var icon;
            if (data.status==1){
                icon=6;
            }else{
                icon=5;
            }
            layer.alert(data.info,{icon: icon},function(){
                location.href=location.href;
            });
        });
    }

    function distributeRule(id){
        window.location.href=baseurl+"[[${permissionMap.other_url}]]?parentId=0&roleId="+id;
    }

    function cancelUpdate(){
        if(openIndex)
            layer.close(openIndex);
    }
</script>

</body>

</html>